@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
    --header-background-color: rgb(31 41 55);
    --background-color: white;
    --foreground-color: black;
    --primary-text-color: rgb(209 213 219);
    --secondary-text-color: white;
}

[data-theme="light"] {
    --header-background-color: rgb(31 41 55);
    --background-color: white;
    --foreground-color: black;
    --primary-text-color: black;
    --secondary-text-color: rgb(75, 85, 99);
    --toggle-bg: #f3f30a;
}

[data-theme="dark"] {
    --header-background-color: rgb(24, 31, 42);
    --background-color: black;
    --foreground-color: white;
    --primary-text-color: white;
    --secondary-text-color: #c5c2c2;
    --toggle-bg: grey;
}
